@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-Light"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-ExtraBold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

body {
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #000;
  background-color: #fff;
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  width: 1160px;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-block {
  position: relative;
  margin-top: 40px;
  padding-top: 34px;
  padding-bottom: 1px;
  background-color: #f7e296;
}

.header-block-index {
  box-shadow: 0 113px #f7e296
}

.header-top {
  display: flex;
  width: 1160px;
  padding-left: 60px;
  margin-bottom: 29px;
  box-sizing: border-box;
  justify-content: space-between;
}

.header-logo {
  position: absolute;
  left: 60px;
  top: -19px;
}

.search {
  display: flex;
  position: relative;
  height: 49px;
}

.search::before {
  position: absolute;
  top: 17px;
  left: 4px;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../img/search.svg");
}

.search-label {
  display: block;
  padding-top: 9px;
  padding-left: 40px;
  opacity: .3;
}

.search-label:hover {
  opacity: .6;
}

.search-field {
  display: block;
  position: absolute;
  opacity: 0;
  height: 45px;
  padding-left: 40px;
  border: none;
  border-bottom: 2px solid #000;
  background-color: transparent;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
}

.search-field:focus,
.search:active .search-field {
  outline: none;
  position: static;
  opacity: 1;
}

.search:active .search-label {
  position: absolute;
  opacity: 0;
}

.search-field:focus + .search-label {
  display: none;
}

.search-btn {
  display: none;
  width: 85px;
  border: 2px solid #000;
  background-color: transparent;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
}

.search-field:focus ~ .search-btn {
  display: block;
}

.search-btn:hover {
  color: #fff;
  background-color: #000;
}

.search-btn:active {
  display: block;
  color: rgba(255, 255, 255, .3);
}

.header-right-side {
  display: flex;
  flex-shrink: 0;
  padding-right: 60px;
  box-sizing: border-box;
  width: 560px;
  justify-content: space-between;
}

.user-account,
.buyer-actions {
  display: flex;
  padding-top: 9px;
  justify-content: flex-end;
}

.user-account-item {
  margin-right: 19px;
}

.menu-link {
  text-decoration: none;
  color: #000; 
}

.header-login,
.header-compare,
.header-cart {
  display: block;
  position: relative;
}

.header-login {
  padding-left: 27px;
}

.header-logout {
  color: rgba(0, 0, 0, .3);
}

.header-compare{
  padding-left: 20px;
  margin-right: 40px;
}

.header-cart {
  padding-left: 24px;
}

.header-login::before,
.header-compare::before,
.header-cart::before {
  position: absolute;
  content: "";
  top: 9px;
  left: 0;
}

.header-login::before {
  width: 13px;
  height: 12px;
  background-image: url("../img/user.svg");
}

.header-compare::before {
  top: 11px;
  left: 1px;
  width: 10px;
  height: 10px;
  background-image: url("../img/compare.svg");
}

.header-cart::before {
  width: 12px;
  height: 12px;
  background-image: url("../img/cart.svg");
}

.header-bottom {
  display: flex;
  position: relative;
  width: 1160px;
  padding-left: 60px;
  margin-bottom: 49px;
  box-sizing: border-box;
  justify-content: space-between;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: .2em;
  font-weight: 800;
  font-style: normal;
}

.dropdown-menu-trigger,
.delivery,
.warranty,
.contact {
  display: block;
  text-transform: uppercase;
}

.dropdown-menu-trigger {
  position: relative;
  margin-right: 20px;
  padding-right: 30px;
  height: 100%;
}

.dropdown-menu-content {
  display: none;
}

.dropdown-menu-content:hover,
.dropdown-menu-trigger:hover ~ .dropdown-menu-content {
  display: flex;
  position: absolute;
  left: 0;
  top: 95%;
  width: 100%;
  min-height: 166px;
  padding-top: 24px;
  padding-left: 7px;
  box-sizing: border-box;
  background-color: #f7e296;
  z-index: 2;
}

.dropdown-menu-cell {
  display: block;
  margin-left: 49px;
  padding: 0 5px;
  min-width: 142px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: .01em;
}

.dropdown-menu-trigger::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 4px;
  right: 3px;
  background-image: url("../img/plus.svg");
}

.service-links {
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
}

.service-links-item {
  margin-right: 35px;
}

.contact {
  margin-right: -4px;
}


.header-logo:hover,
.menu-link:hover {
  opacity: .6;
}

.header-logo:active,
.menu-link:active {
  opacity: .3;
}

.promo-slider-screen {
  margin-bottom: 104px;
  position: relative;
  z-index: 1;
}

.promo-btn-1,
.promo-btn-2,
.promo-btn-3 {
  display: block;
  width: 12px;
  height: 12px;
  background-size: 12px;
  background-image: url("../img/slider-button-empty.svg");
}

.promo-control {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 78px;
  right: 83px;
  bottom: 149px;
}

input[id="promo-1"]:checked ~ .promo-control .promo-btn-1,
input[id="promo-2"]:checked ~ .promo-control .promo-btn-2,
input[id="promo-3"]:checked ~ .promo-control .promo-btn-3 {
  background-image: url("../img/slider-button.svg");
}

input[id="promo-1"]:focus ~ .promo-control .promo-btn-1,
input[id="promo-2"]:focus ~ .promo-control .promo-btn-2,
input[id="promo-3"]:focus ~ .promo-control .promo-btn-3 {
  outline: none;
  border-radius: 50%;
  box-shadow: 0 0 0 3px lightblue;
}

.promo-frame-1,
.promo-frame-2,
.promo-frame-3 {
  display: none;
}

input[id="promo-1"]:checked ~ .promo-frame-1,
input[id="promo-2"]:checked ~ .promo-frame-2,
input[id="promo-3"]:checked ~ .promo-frame-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
}

.promo-frame-1::before,
.promo-frame-2::before,
.promo-frame-3::before {
  position: absolute;
  content: attr(data-number);
  top: -13px;
  right: 45px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #fff;
  font-size: 179px;
  line-height: 179px;
  font-weight: 800;
  letter-spacing: .01em;
  z-index: -1;
}

.promo-image-contaner {
  display: flex;
  align-items: center;
  padding-left: 7px;
  width: 550px;
  height: 490px;
}

.promo-image {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.promo-frame-ad {
  width: 560px;
  padding-top: 81px;
}

.promo-frame-ad::before {
  content: "";
  position: absolute;
  top: 39px;
  right: 460px;
  width: 100px;
  height: 0;
  border-top: 7px solid #fff;
}

.promo-slogan {
  margin: 0;
  margin-bottom: 19px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: .01em;
}

.promo-notice {
  margin: 0;
  margin-bottom: 43px;
  padding-right: 40px;
  
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #464646;
}

.link-btn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 5px;
  min-height: 40px;
  box-sizing: border-box;
  text-decoration: none;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: .2em;
  color: #000;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, transparent 40%, #f0c52e 42.5%,
      #f0c52e 57.5%, transparent 60%);
}

.link-btn-promo {
  width: 220px;
}

.link-btn:hover {
  background-color: #f0c52e;
  background-image: none;
}

.link-btn:active {
  color: rgba(0, 0, 0, .3);
}

.promo-tbl-property {
  margin-top: 49px;
  border-collapse: collapse;
  border-spacing: 0;
}

.tbl-top-td,
.tbl-bottom-td {
  padding-right: 10px;
  text-align: left;
  box-sizing: border-box;
}

.tbl-top-td {
  padding-left: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: .01em;
  font-weight: 300;
}

.tbl-bottom-td {
  padding-top: 5px;
  padding-left: 1px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: .01em;
  font-weight: 300;
}

.tbl-col-large {
  min-width: 158px;
}

.tbl-col-small {
  min-width: 140px;
}

.catalog-categories {
  display: flex;
  margin-bottom: 81px;
  padding: 0;
  justify-content: space-between;
  list-style: none;
}

.catalog-item {
  display: block;
  position: relative;
  width: 160px;
  min-height: 240px;
  box-sizing: border-box;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
  text-decoration: none;
  letter-spacing: .01em;

  background-image: linear-gradient(to bottom, rgba(240, 197, 46, .5) 160px, #fff 160px);
}

.catalog-item::before {
  display: block;
  content: "";
  margin-bottom: 33px;
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
}

.virtual-reality::before {
  background-image: url("../img/popular-1.svg");
  background-position: 31px 52px;
}

.monopod::before {
  background-image: url("../img/popular-2.svg");
  background-position: 38px 41px;
}

.action-cam::before {
  background-image: url("../img/popular-3.svg");
  background-position: 49px 38px;
}

.smart-band:before {
  background-image: url("../img/popular-4.svg");
  background-position: 28px 50px;
}

.smart-watch:before {
  background-image: url("../img/popular-5.svg");
  background-position: 55px 32px;
}

.quadrocopter::before {
  background-image: url("../img/popular-6.svg");
  background-position: 13px 49px;
}

.catalog-item:hover {
  background-image: linear-gradient(to bottom, rgba(240, 197, 46, 1) 160px, #fff 160px);
}

.catalog-item:active .catalog-type,
.catalog-item:active::before {
  opacity: .3;
}

.service {
  padding-bottom: 68px;
  margin-bottom: 94px;
  background-image: linear-gradient(to bottom, #fff 100px, #e5e5e5 100px);
}

.service-slider-screen {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.service-control {
  margin-right: 117px;
  padding-top: 80px;
  padding-bottom: 40px;
  width: 285px;
  min-height: 320px;
  box-sizing: border-box;
  border-right: 7px solid #000;
}

.service-control-item {
  margin-bottom: 25px;
}

.service-btn {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 10px;
  width: 160px;
  min-height: 40px;
  box-sizing: border-box;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: .2em;
  color: #000;

  text-transform: uppercase;
  background-image: linear-gradient(to bottom, transparent 40%, #f0c52e 42.5%,
      #f0c52e 57.5%, transparent 60%);
}

.service-btn::after {
  position: absolute;
  content: "";
  top: 0;
  width: 0;
  height: 100%;
  background-color: #000;
}

.service-btn:hover {
  background-color: #f0c52e;
  cursor: pointer;
}

.service-btn:active::after {
  width: calc(277px - 100%);
  left: 100%;
}

.service-btn:active,
input[id="delivery"]:checked ~ .service-control .item-delivery,
input[id="warranty"]:checked ~ .service-control .item-warranty,
input[id="credit"]:checked ~ .service-control .item-credit {
  color: #f7e184;
  background-image: none;
  background-color: #000;
}

.service-frame {
  padding-top: 73px;
  width: 750px;
  min-height: 240px;
}

.service-delivery {
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 556px 85px;
}

.service-warranty {
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 541px 61px;
}

.service-credit {
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 532px 61px;
}

.service-unit {
  margin: 0;
  margin-bottom: 31px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: .01em;
  color: #000;
}

.service-notice {
  margin: 0;
  width: 425px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #464646;
}

.service-delivery,
.service-warranty,
.service-credit {
  display: none;
}

input[id="delivery"]:checked ~ .service-delivery,
input[id="warranty"]:checked ~ .service-warranty,
input[id="credit"]:checked ~ .service-credit {
  display: block;
}

.logotypes {
  margin-bottom: 84px;
}

.brands {
  display: flex;
  justify-content: space-between;
}

.logo-1 {
  background-image: url("../img/logo-1-invert.jpg");
  opacity: .2;
}

.logo-2 {
  background-image: url("../img/logo-2-invert.jpg");
  opacity: .2;
}

.logo-3 {
  background-image: url("../img/logo-3-invert.jpg");
  opacity: .2;
}

.logo-4 {
  background-image: url("../img/logo-4-invert.jpg");
  opacity: .2;
}

.logo {
  opacity: .5;
}

.brands .brands-item:hover,
.brands .brands-item:hover .logo {
  opacity: 1;
}

.information {
  margin-bottom: 82px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-info-block {
  padding-top: 52px;
  width: 560px;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
}

.about-info-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 0;
  border-top: 7px solid #000;
}

.about-header {
  margin: 0;
  margin-left: -2px;
  margin-bottom: 43px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: .01em;
  color: #000;
}

.about-notice {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.008em;
  color: #464646;
  background-color: #fff;
}

.about-partners {
  margin-bottom: 54px;
  padding-top: 36px;
  padding-left: 20px;
  list-style: circle;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0;
  color: #000;
  background-color: #fff;
}

.about-partners-item {
  padding-left: 15px;
}

.link-btn-large {
  width: 260px;
}

.location-map {
  margin-top: 10px;
  margin-bottom: 59px;
}

.main-footer {
  padding-bottom: 1px;
  background-color: #464646;
}

.footer-content {
  position: relative;
  padding-top: 60px;
}

.footer-top {
  margin-bottom: 34px;
}

.user-actions {
  display: flex;
  justify-content: flex-end;
}

.footer-middle {
  display: flex;
  margin-bottom: 61px;
  justify-content: space-between;
}

.footer-bottom {
  display: flex;
  margin-bottom: 42px;
  justify-content: space-between;
}

.footer-social {
  display: flex;
  margin-bottom: 25px;
  margin-right: 52px;
  justify-content: space-between;
  align-items: flex-start;
}

.logo-footer {
  position: absolute;
  top: 65px;
  left: -1px;
}

.footer-link {
  text-decoration: none;
  color: #fff; 
}

.footer-login,
.footer-logout,
.footer-compare,
.footer-cart {
  display: block;
  position: relative;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: .01em;
  color: rgba(255, 255, 255, .7);
}

.footer-login {
  padding-left: 27px;
  margin-right: 43px;
}

.footer-logout {
  margin-left: -29px;
  margin-right: 38px;
  padding: 0 5px;
  color: rgba(255, 255, 255, .3);
}

.footer-compare{
  padding-left: 20px;
  margin-right: 41px;
}

.footer-cart {
  padding-left: 21px;
}

.footer-login::before,
.footer-compare::before,
.footer-cart::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 0;
}

.footer-login::before {
  width: 13px;
  height: 12px;
  background-image: url("../img/user_yellow.svg");
}

.footer-compare::before {
  top: 14px;
  left: 1px;
  width: 10px;
  height: 10px;
  background-image: url("../img/compare_yellow.svg");
}

.footer-cart::before {
  width: 12px;
  height: 12px;
  background-image: url("../img/cart_yellow.svg");
}

.footer-login:hover,
.footer-logout:hover,
.footer-compare:hover,
.footer-cart:hover {
  color: #fff;
}

.footer-login:hover::before,
.footer-compare:hover::before,
.footer-cart:hover::before {
  opacity: .7;
}

.footer-login:active,
.footer-logout:active,
.footer-compare:active,
.footer-cart:active {
  opacity: .3;
}

.service-links-footer {
  display: flex;
  padding-top: 3px;
  margin-right: 37px;
  min-width: 437px;
  justify-content: space-between;
}

.footer-delivery,
.footer-warranty,
.footer-contact {
  padding: 0 5px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: .2em;
  color: #fff;
  text-transform: uppercase;
}

.footer-address,
.footer-phone {
  margin: 0;
  
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0;
  line-height: 30px;
  color: #fff;
}

.developement {
  display: block;
  width: 27px;
  height: 34px;
  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
}

.logo-footer:hover,
.footer-delivery:hover,
.footer-warranty:hover,
.footer-contact:hover,
.developement:hover {
  opacity: .6;
}

.logo-footer:active,
.footer-delivery:active,
.footer-warranty:active,
.footer-contact:active,
.developement:active {
  opacity: .3;
}

.footer-decor {
  display: block;
  width: 80px;
  height: 14px;
  border-bottom: 7px solid #ffc600;
}

.footer-fb,
.footer-insta,
.footer-tw {
  display: block;
  margin: 0 11px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  opacity: .3;
}

.footer-fb {
  background-image: url("../img/fb.svg");
}

.footer-insta {
  background-image: url("../img/instagram.svg");
}

.footer-tw {
  background-image: url("../img/twitter.svg");
}

.footer-fb:hover,
.footer-insta:hover,
.footer-tw:hover {
  opacity: .6;
}

.footer-fb:active,
.footer-insta:active,
.footer-tw:active {
  opacity: .1;
}

.feedback-content {
  position: relative;
  padding-top: 100px;
  width: 960px;
  height: 553px;
  background-color: #fff;
}

.popup-close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  background-color: #fff;
  border: none;
  outline: none;
  background-image: url("../img/modal-close.svg");
  opacity: .5;
}

.popup-close:hover,
.popup-close:focus {
  opacity: 1;
}

.popup-close:active {
  opacity: .3;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.feedback-field-small {
  margin: 0 20px;
  margin-bottom: 40px;
  width: 360px;
}

.feedback-label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0;
  color: #000;
}

.feedback-input {
  padding: 0 18px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  color: #464646;
  outline: none;
  border: none;
  background-color: #f2f2f2;
}

.feedback-field-large {
  width: 760px;
}

.feedback-input-text {
  margin-bottom: 40px;
  padding: 14px 18px;
  width: 100%;
  height: 156px;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  color: #464646;
  outline: none;
  border: none;
  background-color: #f2f2f2;
}

.feedback-btn {
  width: 200px;
  border: none;
  background-color: #fff;
}

.feedback-input:hover,
.feedback-input-text:hover {
  background-color: #eaeaea;
}

.feedback-input:focus,
.feedback-input-text:focus {
  background-color: #fff;
  border: 2px solid rgba(240, 197, 46, .5);
}

.popup-map-content {
  position: relative;
}

/*------------------catalogue content-------------------------*/


.catalog {
  display: block;
  padding-top: 37px;
}

.catalog-header {
  margin-bottom: 44px;
}

.catalog-heading {
  margin: 0;
  margin-bottom: 20px;
  margin-left: 60px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: .013em;
}

.breadcrumbs {
  display: flex;
  margin-left: 41px;
}

.breadcrumbs-nav,
.breadcrumbs-current {
  text-decoration: none;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: .01em;
  color: rgba(0, 0, 0, .3);
}

.breadcrumbs-nav:hover {
  color: rgba(0, 0, 0, .6);
}

.breadcrumbs-nav:active {
  color: rgba(0, 0, 0, .1);
}

.breadcrumbs-item {
  position: relative;
  padding: 0 19px;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  top: 13px;
  right: 0;
  content: "";
  width: 4px;
  height: 7px;
  background-image: url("../img/nav-arrow.svg");
}

/*--------------------------------*/

.catalog-body {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-width: 1200px;
  background-color: rgba(0, 0, 0, .08);
}

.catalog-left-block {
  padding-left: calc(50% - 520px);
  box-sizing: border-box;
  width: calc(50% - 252px);
}

.catalog-left-block-header {
  background-color: rgba(0, 0, 0, .08);
}

.catalog-right-block {
  padding-right: calc(50% - 580px);
  padding-left: 72px;
  box-sizing: border-box;
  width: calc(50% + 252px);
}

.catalog-right-block-header {
  display: flex;
}

.catalog-right-block-stock {
  background-color: #fff;
}

.col-title {
  display: block;
  padding: 23px 0;
  padding-right: 10px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: .23em;
  color: #000;
  text-transform: uppercase;
}

.sort-by {
  display: flex;
  margin-left: 14px;
  margin-bottom: 3px;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
}

.sort-by-item {
  display: block;
  margin-left: 28px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, .3);
  text-decoration: none;
}

.sort-by-item:hover {
  color: rgba(0, 0, 0, .6);
}

.sort-by-item:active {
  color: rgba(0, 0, 0, 1);
}

.sort-by-direction {
  margin-left: auto;
}

.sort-by-asc,
.sort-by-desc {
  display: block;
  width: 11px;
  height: 10px;
  opacity: .2;
}

.sort-by-asc {
  background-image: url("../img/icon-up-dir.svg");
}

.sort-by-desc {
  margin-left: 19px;
  background-image: url("../img/icon-down-dir.svg");
}

.sort-by-asc:hover,
.sort-by-desc:hover {
  opacity: .4;
}

.sort-by-asc:active,
.sort-by-desc:active {
  opacity: 1;
}

/*--------------------filters-------------------------------*/



.col-left {
  padding-left: 59px;
  flex-shrink: 0;
  width: 269px;
  background-color: #ebebeb;
}

.filters-form {
  padding-top: 69px;
  width: 200px;
}

.range-slider {
  padding-top: 10px;
  min-height: 128px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.range-title {
  margin: 0;
  margin-bottom: 35px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: .013em;
  color: #000;
}

.range-line-gray {
  position: relative;
  margin-bottom: 5px;
  width: 200px;
  height: 0;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.range-line-green {
  position: absolute;
  width: 55%;
  height: 0;
  top: -1px;
  left: 3%;
  border-top: 1px solid #91c92f;
  border-bottom: 1px solid #91c92f;
}

.slider-button {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 23px;
  top: -11px;
  background-image: url("../img/filter-button.svg");
  cursor: pointer;
}

.button-left {
  left: -12px;
}

.button-right {
  right: -12px;
}

.slider-button:active {
  transform-origin: center;
  transform: scale(1.1);
}

.range-slider-limit {
  display: inline-block;
}

.range-slider-limit,
.range-slider-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, .2);
  background-color: transparent;
}

.range-slider-price {
  width: 67px;
  border: none;
}

.range-slider-max {}

.filters-legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: .013em;
  color: #000;
 }

.filters-colors {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  padding-top: 18px;
  padding-bottom: 31px;
  border: none;
  border-bottom: 2px solid #000;
}

.filters-check-box {
  position: relative;
  padding-left: 39px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: .013em;
  color: #000;
}

.filters-check-box:hover::before {
  opacity: .6;
}

.filters-check-box:active::before {
  opacity: 1;
}

.filters-check-box::before,
input[id="black"]:checked + .filters-check-box:active::before,
input[id="white"]:checked + .filters-check-box:active::before,
input[id="blue"]:checked + .filters-check-box:active::before,
input[id="red"]:checked + .filters-check-box:active::before,
input[id="pink"]:checked + .filters-check-box:active::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -1px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
}

input[id="black"]:checked + .filters-check-box::before,
input[id="white"]:checked + .filters-check-box::before,
input[id="blue"]:checked + .filters-check-box::before,
input[id="red"]:checked + .filters-check-box::before,
input[id="pink"]:checked + .filters-check-box::before,
input[id="black"] + .filters-check-box:active::before,
input[id="white"] + .filters-check-box:active::before,
input[id="blue"] + .filters-check-box:active::before,
input[id="red"] + .filters-check-box:active::before,
input[id="pink"] + .filters-check-box:active::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -1px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
}

.filters-bluetooth {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  padding-top: 18px;
  padding-bottom: 31px;
  border: none;
}

.filters-radio-marker {
  position: relative;
  padding-left: 39px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: .013em;
}

.filters-check-box:hover::before,
.filters-radio-marker:hover::before {
  opacity: .6;
}

.filters-check-box:active::before,
.filters-radio-marker:active::before {
  opacity: 1;
}

.filters-radio-marker::before,
input[id="positive"]:checked + .filters-radio-marker:active::before,
input[id="negative"]:checked + .filters-radio-marker:active::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -1px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
}

input[id="positive"]:checked + .filters-radio-marker::before,
input[id="negative"]:checked + .filters-radio-marker::before,
input[id="positive"] + .filters-radio-marker:active::before,
input[id="negative"] + .filters-radio-marker:active::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -1px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
}

.filters-btn {
  width: 200px;
  border: none;
  background-color: #ebebeb;
  cursor: pointer;
}

/*-----------------item cards---------------------*/

.col-right {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  flex-wrap: wrap;
  padding-top: 60px;
  width: 760px;
}


.col-right-item {
  position: relative;
  margin-top: 9px;
  margin-bottom: 37px;
  width: 360px;
  min-height: 440px;
}

.item-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.item-title {
  margin: 0;
  margin-top: -1px;
  max-width: 260px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: .013em;
  color: #000;
}

.item-price {
  margin-left: auto;
  max-height: 2em;
  
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: .013em;
  color: #464646;

  word-break: 
}

.item-image {
  margin-bottom: 24px;
  max-width: 360px;
  max-height: 380px;
}

.item-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 380px;
  background-color: rgba(238, 238, 238, .7);
}

.item-btn {
  position: absolute;
  top: 169px;
  left: 80px;
  width: 200px;
  border: none;
}

.item-to-compare {
  position: absolute;
  top: 214px;
  left: 110px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: .013em;
  color: rgba(0, 0, 0, .5);
  text-decoration: none;
}

.item-to-compare:hover {
  color: rgba(0, 0, 0, 1);
}

.item-to-compare:active {
  color: rgba(0, 0, 0, .2);
}

.col-right-item:hover .item-hover {
  display: block;
}

.col-right__item--new::before {
  content: "new";
  position: absolute;
  padding-top: 17px;
  padding-left: 4px;
  top: 29px;
  right: 27px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, .1);
  border-radius: 50%;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: .05em;
  color: rgba(0, 0, 0, .2);
  text-transform: uppercase;
  text-align: center;
}

/*----------------pagination-------------------*/

.pagination {
  display: flex;
  margin-top: -2px;
  margin-bottom: 77px;
  align-items: center;
  width: 760px;
  background-color: rgba(0, 0, 0, .08);
}

.pagination-item-ends {
  padding: 20px 4px;
  width: 123px;
  text-align: center;
}

.pagination-item-ends:hover {
  background-color: rgba(0, 0, 0, .08);
}

.pagination-item-ends:first-child {
  margin-right: auto;
}

.pagination-item-ends:last-child {
  margin-left: auto;
}

.pagination-link {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .2em;
  font-weight: 800;
  font-style: normal;
  color: #000;

  text-decoration: none;
  text-transform: uppercase;
}

.step-to:active {
  color: rgba(0, 0, 0, .3);
}

.page-number {
  margin-left: 16px;
  margin-right: 12px;
  color: rgba(0, 0, 0, .3);
}

.page-number:hover {
  color: rgba(0, 0, 0, .6);
}

.page-number:active {
  color: rgba(0, 0, 0, 1);
}

.menu-link:focus,
.catalog-item:focus,
input[id="delivery"]:focus ~ .service-control label[for="delivery"],
input[id="warranty"]:focus ~ .service-control label[for="warranty"],
input[id="credit"]:focus ~ .service-control label[for="credit"],
.link-btn:focus,
.footer-link:focus,
.footer-social a:focus,
.developement:focus,
input:focus + .filters-check-box,
input:focus + .filters-radio-marker {
  outline: none;
  box-shadow: 0 0 0 3px lightblue;
}








.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  overflow: hidden;
}